django==2.1.2
djangorestframework==3.8.2
requests==2.19.1
git+https://github.com/zimmerman-zimmerman/django-rest-swagger.git#django-rest-swagger
git+git://github.com/nnseva/django-jsoneditor.git#django-json-editor
git+https://github.com/zimmerman-zimmerman/django-json-field.git#egg=django-json-field
pillow==5.2.0
factory-boy==2.11.1
django-cors-headers==2.4.0